*{
    background-color: #2596be;
    margin-top: 7%;
    text-align: center;
    
}

option{
    background-color: white;
}

select{
    background-color: white;
}

button{
    background-color: white;
    border-radius: 30px; 
    display: none;
}

@media (min-width: 576px) {
    button{
        display: inline-block;
    }
    #select{
        display: none;
    }
}

